body{
    background-color: lightgreen;
    color: white;
    text-align: center;
    font-family: 'Times New Roman';
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}

img{
    border-radius: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}